<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HappyNewYear</title>
    <link rel="stylesheet" type="text/css" href="/css/home.css">
</head>
<body>
    <h1>HappyNewYear</h1>
    <div id="contents">
        <img id="pocketimg" src="/image/Lovepik_com-401588692-lucky-bag.png">
        <br>
        <a id="login" th:unless=${loginMember} href="/member/login">로그인</a>
        <a id="signup" th:unless=${loginMember} href="/member/signup">회원가입</a>
        <span th:if=${loginMember} th:text="|${loginMember.name}님 환영합니다.|"></span>
        <form th:action="@{/member/logout}" method="post">
            <button type="submit" class="logout-btn" th:if="${loginMember}">로그아웃</button>
        </form>
        <a th:if=${loginMember} th:href="@{/post/test/{token}(token = ${loginMember.token})}">토큰 넘어가는거 테스트용 내 글 보기</a>
    </div>
</body>
</html>