<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HappyNewYear</title>
    <link rel="stylesheet" type="text/css" href="./home.css">
</head>
<body>
    <h1>HappyNewYear</h1>
    <div id="contents">
        <img id="pocketimg" src="../image/Lovepik_com-401588692-lucky-bag.png">
        <br>
        <button id="login">로그인</button>
        <button id="signup">회원가입</button>
    </div>
</body>
</html>