<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HappyNewYear</title>
    <link rel="stylesheet" type="text/css" href="/css/home.css">
</head>
<body>
    <h1>HappyNewYear</h1>
    <div id="contents">
        <img id="pocketimg" src="/image/Lovepik_com-401588692-lucky-bag.png">
        <br>
        <a id="login" href="/member/login">로그인</a>
        <a id="signup" href="/member/signup">회원가입</a>
    </div>
</body>
</html>