<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HappyNewYear</title>
    <link rel="stylesheet" type="text/css" href="/css/home.css">
    <link rel="stylesheet" type="text/css" href="/css/modal.css">
</head>
<body>
<h1>HappyNewYear</h1>
<div id="contents">
    <img id="pocketimg" src="/image/Lovepik_com-401588692-lucky-bag.png">
    <div class="modal">
        <div class="modal_body">
            <p>복주머니 내용</p>
            <tr th:each="post : ${postList}">
                <p th:text="'보낸이: '+${post.sender}"></p>
                <p th:text="'내용: '+${post.content}"></p>
            </tr>

        </div>
    </div>
    <button class="btn-open-popup">복주머니 보기</button>
</div>

<script>
    const modal = document.querySelector('.modal');
    const btnOpenPopup = document.querySelector('.btn-open-popup');

    btnOpenPopup.addEventListener('click', () => {
        modal.style.display = 'block';
    });
</script>
</body>
</html>