<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>HappyNewYear</title>
  <link rel="stylesheet" type="text/css" href="/css/writinghome.css">
</head>
<body>
<h1>HappyNewYear</h1>
<h4 th:text="${name}"></h4>
<div id="contents">
  <img id="pocketimg" src="/image/Lovepik_com-401588692-lucky-bag.png">
  <br>
  <button id="show">세뱃돈 보내기</button>

  <div class="background">
    <div class="window">
      <div class="popup">
        <div class="layout">
          <form action="/post/writinghome" method="post">
            <input type="hidden" name="token" th:value="${token}">
            제목 : <input name="title" type="text"><br>
            작성자 : <input name="sender" type="text"><br>
            내용 : <textarea name="content"></textarea><br>
            <button>작성</button>
          </form>
          <button id="close">취소</button>
        </div>

      </div>
    </div>
  </div>

  <script>
    function show () {
      document.querySelector(".background").className = "background show";
    }

    function close () {
      document.querySelector(".background").className = "background";
    }

    document.querySelector("#show").addEventListener('click', show);
    document.querySelector("#close").addEventListener('click', close);
  </script>
</div>
</body>
</html>